* {
  box-sizing: border-box;
  margin: 0;
}

main {
  padding-inline: 1.5rem;
}

form {
  div + div {
    margin-block-start: 0.5rem;
  }

  footer {
    display: flex;
    gap: 0.5rem;
    margin-block-start: 0.75rem;
  }
}
